<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% @doctor=Doctor.find_by_id(params[:id])%>
  <%= link_to 'Descargar',"#{@doctor.curriculum_path.url}"%>
</div>
