<footer class="footer bg-dark  text-light" style="background-color:#104547 !important">
  <div class="container">
    <span>© <%= Date.today.year %> Hablame.app</span>
    <ul class="list-inline mb-0 float-right" >

                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                 
      <li class="list-inline-item mr-3 " ><%= link_to "Terminos", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacidad", privacy_path %></li>
    </ul>
  </div>
  

</footer>
