<footer class="footer text-muted bg-dark text-light">
  <div class="container">
    <span>© <%= Date.today.year %> Hablame.app</span>
    <ul class="list-inline mb-0 float-right">
      <li class="list-inline-item mr-3"><%= link_to "Terminos", terms_path %></li>
      <li class="list-inline-item mr-3"><%= link_to "Privacidad", privacy_path %></li>
    </ul>
  </div>
  

</footer>
