<head>
 <%= render 'shared/head' %>
</head>



<body class="container-fluid grad">

    
    <br>

    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8 jumbotron " id="banner">
            <div>
                <div class="col-xl-9 mx-auto" style="padding: -25px;margin: 35px; ">
                    <h1 class="d-block m-auto mb-5" style="margin: -3em;font-family: Roboto, cursive; font-size:3.3em;">
                        Bienvenido a&nbsp;<img class="justify-content-center" src="assets/logo.png"
                            style="height: 73px;"></h1>
                    <div class="row" style="margin: -2px;margin-bottom: -47px;">
                        <div class="col" style="margin: 0;padding: 10px;height: 70px;margin-bottom: 61px;">
                            <p class="text-light" style="font-family: 'open sans';font-size:1.9em; font-style: italic;">
                                Atención psicológica en la palma de tu mano</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" style="padding-top:2em;">
                    <form>
                        <div class="form-row">
                            <div class="col">
                            <a name="" id="" class="btn btn-primary text-center d-table float-none justify-content-center align-items-center m-auto" 
                            href="users/sign_up" role="button" style="height: 80px; width: 239px;font-size: 2em; padding-top:0.4em;">Empieza
                            ahora</a>
                            
                           
                            </div>
                        </div>
                    
                    </form>
                    <div class="row">
                    <div class="col-md-2"></div>
                            <div class="alert alert-primary col-md-8" role="alert">
                                <strong>¿Ya usas Háblame? <a class="alert-link" href="users/sign_in"><br>Inicia Sesión</a></strong>
                            </div>
                    <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="row " style="text-align: center;">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <div class="alert alert-success" role="alert"><i class="fas fa-brain"></i>&nbsp;<span><strong>¿Eres
                        Psicólogo? Aplica&nbsp;&nbsp;</strong></span><a class="alert-link" href="/doctors/sign_up">Aquí</a></div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <br>
    <div class="row text-dark" style="text-align:center;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Razones para usar Háblame</h1>
            <br>
            
        </div>
       

        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-none d-lg-block d-md-none">
            <div class=""  style="text-align:center;">
                <iframe src="https://player.vimeo.com/video/398691441" width="100%" height="600px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-8 d-none d-block d-md-block d-lg-none">
             <div class=""  style="text-align:center;">
                <iframe src="https://player.vimeo.com/video/398691441" width="100%" height="200px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row " style="text-align: center; margin-top:5em;">
        <div class="col-md-1 container"></div>
        <div class="col-md-3 container">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                <div class="col" style="color:goldenrod;"><i class="fas fa-lock fa-5x"></i></div>
                <h3 class="text-center m-auto text-dark"
                    style="font-family: 'Roboto', cursive;margin: 3px;padding: 14px; font-size: 2em;">Seguridad</h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: 1.4em;">Información cifrada</p>
            </div>
        </div>
        <div class="col-md-3 container">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                <div class="col" style="color:brown;"><i class="fas fa-user-secret fa-5x"></i></div>
                <h3 class="text-dark" style="font-family: 'Roboto', cursive;  margin: 3px; padding: 14px; font-size: 2em;">Anonimato
                </h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: 1.4em;">Tu información personal no será solicitada</p>
            </div>
        </div>
        <div class="col-md-3 container">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                <div class="col" style="color:green;"><i class="fas fa-check-circle fa-5x"></i></div>
                <h3 class ="text-dark" style="font-family: 'Roboto', cursive;  margin: 3px; padding: 14px; font-size: 2em;">Fácil de
                    Usar</h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: 1.4em;">Accede
                    fácil y rápidamente a la ayuda que necesitas</p>
            </div>
        </div>
        <div class="col-md-1 container"></div>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-1 container"></div>
        <div class="col-md-4 d-none d-md-block d-lg-none  container">
       

            <div class="mx-auto ">
                <div class="col" style="color:coral; "><i class="material-icons"
                        style="font-size:6em;">phonelink</i></i></div>
                <h3 class = "text-dark" style="font-family: 'Roboto', cursive;  margin: 3px; padding: 14px; font-size: 2em;">
                    Multiplataforma</h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: 1.4em;">Accede
                    desde cualquier dispositivo</p>
            </div>

        
        
        </div>

        <div class="col-md-3 d-none d-lg-block d-md-none container">
            <div class="mx-auto ">
                <div class="col" style="color:coral; "><i class="material-icons"
                        style="font-size:6em;">phonelink</i></i></div>
                <h3 class = "text-dark" style="font-family: 'Roboto', cursive;  margin: 3px; padding: 14px; font-size: 2em;">
                    Multiplataforma</h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: 1.4em;">Accede
                    desde cualquier dispositivo</p>
            </div>     


        </div>









        <div class="col-md-3 container text-dark">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                <div class="col" style="color:olive; "><i class="material-icons"
                        style="font-size:6em;">attach_money</i></i></div>
                <h3 class = "text-dark" style="font-family: 'Roboto', cursive;  margin: 3px; padding: 14px; font-size: xx-large;">Economía
                </h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: x-large;">Precios accesibles</p>
            </div>
        </div>
        <div class="col-md-3 container ">

            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                <div class="col" style="color:dodgerblue; "><i class="fas fa-graduation-cap fa-5x"></i></div>
                <h3 class ="text-dark" style="font-family: 'Roboto', cursive;  margin: 3px; padding: 14px; font-size: 2em;">Profesionalismo</h3>
                <p class="lead mb-0 text-dark" style="font-family: 'Open Sans', cursive; font-size: 1.4em;">Psicólogos altamente capacitados</p>
            </div>
        </div>
        <div class="col-md-1 container"></div>
    </div>





    <div class="row text-dark" style="text-align: center; margin:4em; ">
      <div class="col-md-2"></div>
        <div class="col-md-8">
            <blockquote class="blockquote text-center">
                <h1 class="mb-0">“Siempre habrá una puerta, sin importar lo oscuro de la habitación, encuentrala y sal de allí”</h1>
                <footer class="blockquote-footer">Shafqat Bashar</cite></footer>
              </blockquote>
        </div>
        <div class="col-md-2"></div>
    </div>







    
    <div class="row text-dark" style="text-align:center;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 jumbotron">
            <h3>¿Listo para usar Háblame?</h3>
            <br>
                            <a name="" id="" class="btn btn-primary text-center d-table float-none justify-content-center align-items-center m-auto" 
                            href="users/sign_up" role="button" style="height: 80px; width: 239px;font-size: 2em; padding-top:0.4em;">Empieza
                            ahora</a>
        </div>
        <div class="col-md-2">
        </div>
    </div>


    <div class="row text-dark" style="text-align:center; margin-top: 3em;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>Hecho con &nbsp;<i class="fas fa-heart" style="color:red;"> </i> en San Pedro Sula, Honduras por Hector A. para Terna 2020</h3>
        </div>
        <div class="col-md-2">
        </div>
    </div>

   

 
    </div>
    </body>