<div class=container>
    <br>
    <br>
       

        <h1>Te sientes mal, <%=image_tag 'logo.png', class: "navbar-brand", style: 'height:2.5em;width:auto;'%> </h1>
        <p class="lead">Bienvenido a la app que te ayudara a obtener la ayuda que necesitas de forma fácil y segura.</p>
        
        <% if current_member%>
        <p><%=current_member.name%></p>
        <%end%>
        

</div>
