<div class="card block animated fadeInDown" style="background-color:#FFEFD5">
	<div class="product">
		<span class="badge badge-success badge-pill float-right ch-state"><%= doctor.name.full %></span>
		<%= gravatar_tag @doctor %> 
	</div>

	<div class="info" >
		<h4><%= doctor.name %></h4>

	
		<span class="description"  >

			<p><%= doctor.description %></p>
		</span>
		<a class="btn btn-danger btn-block"  style="background-color:#e27d60" href="/chat/<%doctor.id.to_s %>"><i class="fa fa-eye"></i>CHATEAR</a>
	</div>

	<div class="details">
		<p>test</p>
	</div>


</div>
