<% if current_doctor %>
    <!--Ficha va aqui-->
        <div class="jumbotron">
            <h1>Informacion de Paciente</h1>
            <p>Edad: <%=@user.age%></p>
            <p>Resumen del paciente: </p>
            <p><%=@user.username%></p>
            <p> Ingresar notas: </p>

     

            
        </div>

    <!--Ficha termina aqui-->
<%end%>
