<div class="jumbotron bg-dark text-light">
Bienvenido &nbsp; <%=current_user.username%>
</div>

<div class="row"><!--Body-->
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="card-column" >

            <% @showall.each do |doctor|%>

                        <%= render '/walls/cards', doctor: doctor%>

            <%end%>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>