<div class="jumbotron text-light" style="background-color:#1B998B; text-align:center;">
<h2>Bienvenido &nbsp; <%=current_user.username%></h2>
</div>

<div class="row"><!--Body-->
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row" >

            <% @showall.each do |doctor|%>

                        <%= render '/walls/cards', doctor: doctor%>

            <%end%>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>