development:
  adapter: mysql2
  host: database-1.exampleurl.us-east-2.rds.amazonaws.com
  encoding: utf8mb4
  reconnect: true
  database: hablameapp
  pool: 5
  username: root
  password: w0tm8pAssword
test:
  adapter: mysql2
  encoding: utf8mb4
  host: database-1.exampleurl.us-east-2.rds.amazonaws.com
  reconnect: true
  database: hablameapp
  pool: 5
  username: root
  password: w0tm8pAssword
production:
  adapter: mysql2
  encoding: utf8mb4
  reconnect: true
  host: database-1.exampleurl.us-east-2.rds.amazonaws.com
  database: hablameappproduction
  pool: 5
  username: root
  password: w0tm8pAssword
