<div class="jumnbotron"> 
        <h1>Quieres brindar tu servicio en <b>Hablame<b></h1>
        <p class=lead>Llena el siguiente formulario para ponernos en contacto contigo</p>
</div>
<br>
<div class="container">
<%= render 'form', psychologist: @psychologist %>
</div>