// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "animate";
@import "actiontext";

//= require trix/banner
//= require trix/editor
//= require trix/toolbar
//= require trix/attachments
//= require trix/content

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.scrolleame {
  height:20em;
	border-radius: 15px;
    border: 2px solid #bdbdbd;
  overflow-y: scroll;
}

